		<!-- Footer -->
			<div id="footer">
  			
  			<!-- Rotating testimonials -->
  			
        <div class="testimonials">
          <div>One</div>
          <div>Two</div>
          <div>Three</div>
        </div>
  			
  			<script type="text/javascript">
          $(document).ready(function(){
            $('.testimonials').slick({
              setting-name: setting-value
            });
          });
        </script>



  			
				<!-- Copyright -->
					<div class="copyright">
						<ul class="menu">
							<li class="editable">Copyright &copy; 2015 Ginger Ink. All rights reserved.</li>
						</ul>
					</div>

			</div>

	</body>
</html>