		<!-- Footer -->
			<div id="footer">
  			
  			<!-- Rotating testimonials -->
  			
  			<div id="cbp-qtrotator" class="cbp-qtrotator">

          <div class="cbp-qtcontent current">
            <p>1 Testimonial testimonial testimonial testimonial testimonial testimonial testimonial testimonial testimonial testimonial testimonial.<br />
            &mdash; Person Quoted</p>
          </div>
      
          <div class="cbp-qtcontent">
            <p>2 Testimonial testimonial testimonial testimonial testimonial testimonial testimonial testimonial testimonial testimonial testimonial.<br />
            &mdash; Person Quoted</p>
          </div>
      
          <div class="cbp-qtcontent">
            <p>3 Testimonial testimonial testimonial testimonial testimonial testimonial testimonial testimonial testimonial testimonial testimonial.<br />
            &mdash; Person Quoted</p>
          </div>
      
          <div class="cbp-qtcontent">
            <p>4 Testimonial testimonial testimonial testimonial testimonial testimonial testimonial testimonial testimonial testimonial testimonial.<br />
            &mdash; Person Quoted</p>
          </div>
      
        </div>

				<!-- Copyright -->
					<div class="copyright">
						<ul class="menu">
							<li class="editable">Copyright &copy; 2015 Ginger Ink. All rights reserved.</li>
						</ul>
					</div>

			</div>

	</body>
</html>