<!DOCTYPE HTML>
<html>
	<head>
		<title>
		{% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
		</title>
		
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <link rel="canonical" href="{{ site.url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="{{ site.keywords | join: ', '}}" />
		<meta name="author" content="{{ site.author }}"
    <meta name="description" content="{{ site.description }}">
    
    <meta property="og:title" content="{{ site.title }}" >
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:url" content="{{ site.url }}" >
    <meta property="og:description" content="{{ site.description }}" >
    <meta property="og:image" content="http://gingerink.co.nz/assets/images/facebook-banner.jpg" >
    <meta property="og:image:width" content="600" >
    <meta property="og:image:height" content="600" >
    <meta property="og:image:type" content="image/jpeg" >
    <meta property="og:type" content="website" >
    <meta property="og:locale" content="en_US" >
    
    <meta property="twitter:card" content="summary" >
    <meta property="twitter:title" content="{{ site.tagline }}" >
    <meta property="twitter:description" content="{{ site.description }}" >
    <meta property="twitter:creator" content="@coleytangerina" >
    <meta property="twitter:url" content="{{ site.url }}" >
    <meta property="twitter:image" content="http://gingerink.co.nz/siteicon.png" >		
		

		<link rel="stylesheet" href="/assets/css/skel.css" />
		<link rel="stylesheet" href="/assets/css/style.css" />
		<link rel="stylesheet" href="/assets/css/style-wide.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="/assets/css/ie/v8.css" /><![endif]-->

		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/js/jquery.dropotron.min.js"></script>
		<script src="/assets/js/skel.min.js"></script>
		<script src="/assets/js/skel-layers.min.js"></script>
		<script src="/assets/js/rotate.js"></script>
		<script src="/assets/js/init.js"></script>		
		<!--[if lte IE 8]><script src="/assets/css/ie/html5shiv.js"></script><![endif]-->
		
		<link rel="shortcut icon" href="/assets/images/favicon.ico" />

	</head>

	<body>
    <!-- Selectively disable top nav bar on the home page -->   	
    	<div id="header">
		{% if page.title == "Home" %}
    		<nav id="nav" class="homepagenav">
        {% else %}
    		<nav id="nav">
        {% endif %}
    			<ul>
    				{% assign current = page.url | downcase | split: '/' %}
    				<li {% if current[1] == 'index.html' %}class="current"{% endif %}><a href="index.html">Home</a></li>
    				<li {% if current[1] == 'services.html' %}class="current"{% endif %}><a href="services.html">What we do</a></li>
    				<li {% if current[1] == 'contact.html' %}class="current"{% endif %}><a href="contact.html">Get in touch</a></li>
    				<li {% if current[1] == 'about.html' %}class="current"{% endif %}><a href="about.html">About us</a></li>
    			</ul>
    		</nav>  
    	</div>