<div id="carousel">
  <div class="btn-bar">
    <div id="buttons">
      <a id="prev" href="#">PREV</a><a id="next" href="#">NEXT</a>
    </div>
  </div>  
  <div id="slides">
    <ul>

      <li class="slide">
        <div class="quoteContainer">
          <p class="editable">&ldquo;I've worked with Ginger Ink since 2013 on a range of projects. No matter what the requirements are I know I will receive quality work in a timely matter. Their communication style is always concise and friendly - carefully crafted to match the situation, intended audience and medium.&rdquo;</p>
        </div>
        <div class="authorContainer">
          <p class="editable">&mdash; Jem Yoshioka</p>
        </div>
      </li>

      <li class="slide">
        <div class="quoteContainer">
          <p class="editable">&ldquo;Ginger Ink has the ability to take complex ideas and musings and turn them into a professional and concise document that reflects my brand values and personality. These often take the form of client proposals, newsletters and marketing collateral.&rdquo;</p>
        </div>
        <div class="authorContainer">
          <p class="editable">&mdash; Jason Mann Photography</p>
        </div>
      </li>
      
      <li class="slide">
        <div class="quoteContainer">
          <p class="editable">&ldquo;Ginger Ink’s passion for communication and writing shines through in the work they produce and makes them a pleasure to work with. I would highly recommend Ginger Ink for any writing or communication work you require.&rdquo;</p>
        </div>
        <div class="authorContainer">
          <p class="editable">&mdash; Jem Yoshioka</p>
        </div>
      </li>
      
      <li class="slide">
        <div class="quoteContainer">
          <p class="editable">&ldquo;Have used Ginger Ink for several ventures now and like the results. Fast and affordable content creation for digital. Generous and helpful company, too. Would recommend.&rdquo;</p>
        </div>
        <div class="authorContainer">
          <p class="editable">&mdash; Rob Isaac</p>
        </div>
      </li>

      <li class="slide">
        <div class="quoteContainer">
          <p class="editable">&ldquo;Ginger Ink ensures that I am putting my best foot forward by providing my business with quality content to engage my clients.&rdquo;</p>
        </div>
        <div class="authorContainer">
          <p class="editable">&mdash; Jason Mann Photography</p>
        </div>
      </li>
      
    </ul>
  </div>
</div>
